@charset "utf-8";

/*-------- 头部 --------*/
.headercont{padding:13px 0;}
.logo{display:block; float:left;}
.logo img{display:block;}

.headerright{float:right;padding-top:8px;}
.headerlink{text-align:right;}
.headerlink a{display:inline-block;margin:0  6px;}
.headerlink a:hover{color:#188adb;}
.lanselect{display:inline-block;text-align:center; padding-right:11px;margin-left:10px; background:url("img02.png") no-repeat right center;cursor:pointer;position:relative;}
.lanselect em{position:absolute;width:100%;top:16px;left:0; z-index:5;padding-top:10px; text-align:center;display:none;}

.headersearch{float:right;padding-top:22px;}
.searchtext{float:left;width:198px;height:26px;line-height:26px;border:1px solid #cccccc;border-radius:3px;color:#888888;text-indent:8px;}
.searchbtn{float:left;width:29px;height:28px;background:url("img03.png") no-repeat;margin-left:-2px;cursor:pointer;}

.pagenav{width:100%;height:46px;background:#f4f4f4;}
.pagenav ul li{float:left;line-height:46px;font-size:16px;position:relative;color:#d0d0d0;}
.pagenav{width:100%;height:46px;background:#f4f4f4;}
.pagenav ul li{float:left;line-height:46px;position:relative;color:#d0d0d0;}
.pagenav ul li h3 { font-size:14px; }
.pagenav ul li h3 a{display:inline-block;height:43px;border-bottom:3px solid #f4f4f4;font-size:14px; padding:0 29px;}
.pagenav ul li h3 a.cur{border-bottom:3px solid #188adb;color:#188adb;}

/*-------- banner --------*/
.innerbanner{width:100%;height:472px;overflow:hidden;position:relative;z-index:1;}
.innerbanner img{display:block;width:1920px;height:472px;position:absolute;left:50%;top:0;margin-left:-960px;}

/*-------- 内容区-左 --------*/
.pagescont{position:relative;z-index:2;margin-top:-160px;}
.pagesleft{width:279px;float:left;background:#f4f4f4;}
.lefttitle{padding:20px 0 20px 16px;background:#188adb;color:#ffffff;font-size:18px;font-weight:bold;line-height:22px;}
.lefttitle p{font-family:Arial;font-size:28px;font-weight:normal; line-height:35px;text-transform:uppercase;}

.subnavlist{margin-bottom:40px;border-left:1px solid #e3e3e3;border-top:1px solid #e3e3e3;border-right:1px solid #e3e3e3;}
.subnavlist li{border-bottom:1px solid #e3e3e3;}
.subnavlist li a{display:block;padding:14px 0 14px 56px;background:#f4f4f4 url("img07.png") no-repeat 16px center;}
.subnavlist li a.cur{background:#57a8e1 url("img06.png") no-repeat 16px center;color:#ffffff;}

.innernavlink li{padding:0 1px 4px 1px;}
.innernavlink li a{display:block;position:relative;color:#666666;overflow:hidden;}
.innernavlink li a img{display:block;width:279px;height:80px;}
.innernavlink li a span{position:absolute;left:20px;top:36px;z-index:3;}

/*-------- 内容区-右--------*/
.pagesright{width:860px;float:right;padding-bottom:86px;}
.pagetitle{padding:40px 0 15px 0;margin-bottom:40px;border-bottom:1px solid #e0e0e1;}
.pagetitle h4{font-size:20px;}
.pagetitle h4 span{font-size:16px;color:#cccccc;font-family:Arial;text-transform:uppercase;margin-left:10px;}
.crumbslink{display:inline-block;padding-left:19px;float:right;font-size:13px;background:url("img12.png") no-repeat left center;}
.crumbslink a.cur{color:#188adb;}






.abouttop dt{float:left;width:395px;height:222px;}
.abouttop dt img{display:block;width:395px;height:222px;}
.abouttop dd{float:left; width:406px;height:197px;padding:25px 30px 0 29px; background:#188adb;color:#fff;}
.abouttop dd h4{font-size:22px;}
.pagesubtitle{display:inline-block;padding:9px 0;}
.pageabout img{max-width:860px;}


/*-------- 底部 --------*/
.footcont{width:100%;padding:46px 0;background:#262626;position:relative;z-index:2;}
.footlink li{width:143px;float:left;font-size:12px;line-height:26px;}
.footlink li a{color:#808080;}
.footlink li a:hover{color:#188adb;}
.footlink li h4{font-size:13px;padding-bottom:8px;}
.footlink li h4 a{color:#cccccc;}
.footlink li.footcode{width:318px;}
.footcode span{display:block; width:152px;text-align:center;float:left;}
.footcode span img{display:block;width:144px;height:120px;margin:0 auto;}
.footcode span em{display:block;font-weight:bold;color:#fff;background:#188adb;}
.footcode span.guahaocode{float:right;}

.footmes{padding:10px 0;color:#595959;font-size:12px; border-top:1px solid #3a3a3a;border-bottom:1px solid #3a3a3a;}
.footmes span{float:right;}
.footmes a{color:#595959;}
.footmes a:hover{color:#188adb;}

/*-------- 就医指南 --------*/
.medicalguidecont{margin-bottom:68px;}
.medicaltitle{text-align:center;}
.medicaltitle h4{font-size:20px;font-weight:bold;padding-bottom:6px;}
.medicalguidecont img{max-width:860px;display:block;margin:0 auto;}

.floorlist{margin-top:36px;}
.floorlist dt{width:83px;height:35px;margin-top:17px; line-height:35px;text-align:center;font-size:16px;background:url("img19.png") no-repeat;float:left;color:#fff;}
.floorlist dd{width:742px;float:right;border:1px solid #e1e1e1;border-radius:3px;position:relative;}
.floorlist dd div{padding:15px 24px;}
.flooricon{display:inline-block;width:20px;height:28px;background:url("img20.jpg") no-repeat;position:absolute;left:-20px;top:22px;}
.floortips{padding:32px 0 0 165px;}


/*-------- 人才招聘 --------*/
.Recruitmentlist{margin:0px;position:relative;}
.Recruitmentlist ul{ margin:0px;padding:0px;}
.Recruitmentlist ul li{margin:0px;padding:0px;border-bottom:1px solid #dbdbdb;}
.Recruitmentlist ul li h3.Recruitmenttitle{color:#333;font-size:14px; padding:0px 15px 0px 20px; height:45px; line-height:45px;position:relative; cursor:pointer; background:url("img24.jpg") no-repeat 5px 20px;}
.Recruitmentlist ul li h3 span{ display:block; position:absolute; width:19px;height:13px; background:url("img23.png") no-repeat; top:15px; right:15px;}
.RecruitmentContent{padding:30px; font-size:13px; line-height:24px; color:#1a1a1a; background:#f2f2f2; display:none;overflow:hidden;}
.RecruitmentContent h4.Rtconttitle{color:#333; font-size:14px; padding-bottom:8px}
.Recruitmentlist ul li.cur{ padding-bottom:30px;}
.Recruitmentlist ul li.cur h3{ background:url("img22.jpg") no-repeat 5px 20px; color:#188adb;}
.Recruitmentlist ul li.cur h3 span{background:url("img21.png") no-repeat;}

.recphone{padding-left:26px;background:url("img25.png") no-repeat left 4px;}
.recaddress{padding-left:26px;background:url("img26.png") no-repeat left 4px;}
.recemail{padding-left:26px;background:url("img27.png") no-repeat left 8px;}

/*-------- 现任领导 --------*/
.currentleader dl{padding-bottom:29px;border-bottom:1px solid #d3d9de;margin-bottom:29px;}
.currentleader dl dt{float:left;}
.currentleader dl dt img{display:block;width:190px;height:187px;}
.currentleader dl dd{width:666px;float:right;font-size:13px;}
.leadertitle{font-size:20px;}
.leadertitle em{display:inline-block;margin-left:6px;font-size:14px;}
.leaderlabel{background:#57A8E1;color:#ffffff;padding:12px;line-height:20px;margin:15px 0;}

/*-------- 医疗设备 --------*/
.equipmentlist{overflow:hidden;}
.equipmentlist ul{margin-right:-31px;}
.equipmentlist ul li{width:265px;height:258px;border:1px solid #e3e3e3;float:left;margin:0 29px 29px 0;}
.equipmentlist ul li img{display:block;width:265px;height:199px;}
.equipmentlist ul li span{display:block;padding:15px 3px;text-align:center;}


/*-------- 医院动态 --------*/
.companynewstop dl{height:190px;}
.companynewstop dl dt{float:left;width:250px;height:190px; margin-right:30px;}
.companynewstop dl dt img{display:block;width:250px;height:190px;}
.companynewstop dl dd{padding-right:30px;}
.companynewstop dl dd h3{ padding:0px;}
.companynewstop dl dd h3 a{ display:block; overflow:hidden; height:24px; line-height:24px; font-size:20px; color:#188adb;}
.companynewstop dl dd p.companynewstopTime{ font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#999;}
.companynewstop dl dd p.companynewstopDescription{font-size:13px; height:65px; overflow:hidden;padding-top:10px; color:#666;}
.companynewstop dl dd p.companynewstopmore{padding-top:47px;}
.companynewstop dl dd p.companynewstopmore a{ display:inline-block;color:#188adb; font-size:13px;}

.companynews{margin-top:35px;}
.companynews ul{margin:0px; padding:0px;border-top:1px solid #cccccc;}
.companynews ul li{border-bottom:1px solid #cccccc;font-size:14px;height:50px;line-height:50px; overflow:hidden; padding:0px 10px 0 35px; position:relative;}
.companynews ul li span{ float:right; color:#666; font-family:Arial, Helvetica, sans-serif;}
.companynews ul li em{background:url("img34.png") no-repeat; display:block; left:10px; top:18px; width:12px; height:12px; position:absolute;}


.commonDetailed{background:#FFF; padding:0px;}

.commonDetailedtitle{ border-bottom:1px solid #cccccc; padding-bottom:10px;}
.commonDetailedtitle h3{ font-size:26px; text-align:center; font-weight:bold; line-height:32px; color:#000; }

.commonDetailedtitleTimeAuthor{ text-align:center; color:#666; font-size:13px; padding:15px 0px;}
.commonDetailedtitleTimeAuthor span{ padding-right:10px;}

.commonDetailedContents{color:#666;padding-top:40px;}
.commonDetailedContentsfoot dl{border:1px solid #cccccc;border-left:none; border-right:none;}
.commonDetailedContentsfoot dl span{background:#f2f2f2; color:#1a1a1a;}

.commonDetailedContentsfoot{padding-bottom:45px;}
.commonDetailedContentsfoot p{ text-align:center; padding-bottom:30px;}
.commonDetailedContentsfoot p a{ display:inline-block; background:#188adb; padding:5px 30px; color:#FFF; font-size:14px;}
.commonDetailedContentsfoot p a:hover{background:#188adb;color:#FFF;}
.commonDetailedContentsfoot dl{ border-bottom:1px solid #cccccc; border-left:none; border-right:none; font-size:13px; padding:13px 0px;}
.commonDetailedContentsfoot dl span{ display:inline-block; background:#f2f2f2; color:#1a1a1a; line-height:27px; padding:0px 10px; margin-right:15px;}
.commonDetailedContentsfoot dl dd{ float:left; width:48%; height:27px; overflow:hidden;}
.commonDetailedContentsfoot dl dt{ float:right; width:48%; height:27px; overflow:hidden; text-align:right;}


/*-------- 首页 --------*/
.indexbanner{width:100%;height:500px;overflow:hidden;position:relative;z-index:1;}
.indexbanner ul li{width:100%;height:500px;}
.indexbanner img{display:block;width:100%;height:500px;position:absolute;top:0;}
.bannerleft, .bannerright{display:inline-block;width:63px;height:89px;position:absolute;top:50%;margin-top:-44px;background:url("img37.png") no-repeat;z-index:5;}
.bannerleft{left:0;}
.bannerright{right:0;background-position:right top;}
.bannerleft:hover{background-position:left bottom;}
.bannerright:hover{background-position:right bottom;}

.indexpagescont{position:relative;z-index:2;margin-top:0px;}
.indexaisle{overflow:hidden;}
.indexaisle div{margin-right:-18px;}
.indexaisle a{display:block;width:382px;height:288px;background:url("img39.png") repeat;float:left;color:#fff;font-size:13px;margin-right:25px;}
.indexaisle a:hover{background:url("img38.png") repeat;}
.exaiseicon{margin:24px auto -20px 30px;padding-right:10px;}
.exaistitle{font-size:20px;}
.exaistext{display:block;width:300px;margin:30px auto 32px;}
.exaiseicon2{display:inline-block;width:29px;height:29px;border:1px solid #fff;line-height:29px;}

/*--------- 新闻模块 ---------*/
.indexnewscont{padding:30px 0;}
.inleftnews{width:322px;float:left;}
.moduletitle{padding-bottom:14px;border-bottom:1px solid #cccccc;margin-bottom:23px;}
.moduletitle h4{color:#188adb;font-size:20px;}
.moduletitle h4 span{font-family:Arial;text-transform:uppercase;color:#cccccc;margin-left:3px;}
.inmore{color:#b2b2b2;font-size:14px;font-family:Arial;float:right;}
.inmore:hover{color:#188adb;}

.newsscrollcont{width:322px;height:224px;overflow:hidden;position:relative;}
.newsscrollcont ul li{width:322px;height:284px;position:relative;}
.newsscrollcont ul li img{display:block;width:322px;height:230px;}
.newsscrollcont ul li a .newsscrolltext{display:block;padding:0 8px;width:366px;height:35px;overflow:hidden;line-height:35px;position:absolute;z-index:2;left:0;bottom:0;color:#fff;text-align:right;background:url("img44.png") repeat;}
.nsleft, .nsright{display:inline-block;width:37px;height:35px;background:url("img45.png") no-repeat;position:absolute;top:120px;z-index:5;}
.nsleft{left:0;}
.nsleft:hover{background-position:left -41px;}
.nsright{right:0;background-position:right top;}
.nsright:hover{background-position:right -41px;}

.inrightnews{width:773px;float:left;padding-top:30px;}
.changenewslist{padding-bottom:0;}
.changenewslist h4 a{display:inline-block;height:36px;padding-right:10px; border-bottom:2px solid #fff;margin-right:53px;}
.changenewslist h4 a.cur{border-bottom:2px solid #188adb;color:#188adb;}

.changenewstext{display:none;}
.changenewstext dl{padding-bottom:10px;}
.changenewstext dl a:hover{color:#188adb;}
.changenewstext dt{font-size:16px;padding-left:1px;background:url("img46.jpg") no-repeat left 10px;margin-bottom:3px;}
.changenewstext span{color:#bcbcbc;font-size:12px;float:right;}
.changenewstext dd{padding-left:13px;}
.changenewstext dd a{display:inline-block;width:90%; height:18px;overflow:hidden; font-size:13px;color:#888888;}

/*-------- 医疗服务快速通道 --------*/
.expertcont{padding-bottom:33px;}
.medicalleft{width:382px;float:right;padding-top:30px;}
.expertlink ul li{width:126px;height:100px;float:left; border:1px solid #e3e3e3;margin:0 0 -1px -1px;text-align:center;}
.expertlink ul li em{display:block;padding:15px 0 12px 0;}
.expertlink ul li img{display:block;margin:0 auto;height:44px;}
.expertlink ul li a{display:block;height:100px;}
.expertlink ul li a:hover{background:#72C1FA;color:#ffffff;}

.medicalright{width:773px;float:left;}
.doctorscroll{position:relative;overflow:hidden;}
.doctorscroll ul{margin-right:-15px;position:relative;}
.doctorscroll ul li{width:187px;height:256px;border-bottom:3px solid #188adb;background:#f5f5f5; float:left;text-align:center;margin-right:10px;position:relative; overflow:hidden;}
.doctorscroll ul li span{display:block;}
.doctorscroll ul li img{display:block;width:187px;height:225px;}
.doctorscroll ul li a em{color:#444444;font-size:12px;}
.floatdoctor{display:block;width:100%;height:190px;position:absolute;left:0;top:0;z-index:2;}
.doctorscroll ul li.cur .floatdoctor{background:url("img59.png") repeat;}
.doctorleft, .doctorright{display:inline-block;width:37px;height:35px;background:url("img45.png") no-repeat;position:absolute;top:100px;z-index:5;}
.doctorleft{left:0;}
.doctorleft:hover{background-position:left -41px;}
.doctorright{right:0;background-position:right top;}
.doctorright:hover{background-position:right -41px;}

.appointmentcont{padding-top:36px;}
.appointmenttitle{padding:10px 16px;background:#91d0fd;color:#ffffff;font-weight:bold;}
.appointbtn{padding:13px 0;background:#f7f7f7;border-bottom:1px solid #d2d2d2;}
.appointbtn a{display:inline-block;float:left;padding:0 12px;height:35px;line-height:35px;margin-left:8px;}
.appointbtn a.cur{background:#188adb;color:#fff;}
.appointchange{height:74px; background:#f7f7f7;padding:20px 8px;border-bottom:4px solid #188adb;display:none;}
.appointchange a{display:inline-block;padding:0 12px;color:#188adb;margin:0 14px 14px 0;}


.floatlinkcont{width:208px;border:1px solid #dcdcdc;border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden;position:fixed;z-index:20;top:70%;right:26px;margin-top:-181px;display:none;}
.floatlinkcont h4{font-size:16px;color:#fff;background:#3699e0;line-height:39px;text-align:center;}
.floatlinkcont ul li{padding:12px 0;border-bottom:1px dotted #dcdcdc;background:#ffffff;}
.floatlinkcont ul li img{display:block;margin:0 auto;width:184px;height:82px;}


/*-------- 新闻列表2 --------*/
.newslisttwo dl{padding:18px;border:1px solid #dbdbdb;font-size:13px;color:#666;margin-bottom:18px;}
.newslisttwo dl.cur .nstextcont h4 a{color:#188ADB;}
.newslisttwo dl.cur .morens{color:#188ADB;border:1px solid #188ADB;}
.newslisttwo dl.cur .nsdate{color:#188ADB;}
.newslisttwo dl.cur .nsdate span{border-bottom:1px solid #188ADB;}
.nstextcont{width:676px;float:left;padding-left:24px;}
.nstextcont h4{font-size:22px;line-height:24px;}
.nstext{height:72px;overflow:hidden;margin:20px 0;}
.morens{display:inline-block;padding:4px 16px;border:1px solid #999999;color:#999;}
.nsdate{float:right; text-align:center;color:#4d4d4d;font-family:Arial;font-size:18px;padding-top:40px;margin-right:18px;}
.nsdate span{display:inline-block;font-size:60px;line-height:62px;border-bottom:1px solid #4d4d4d;margin-bottom:3px;}


/*联系我们*/
.Contact{margin:0px;padding:30px 0px 0px;}
.Contact h3.contacttitle{ font-size:24px; color:#00539d; padding-bottom:8px; line-height:26px;}
.Contact h4.contactentitle{ font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#999999;}
.Contact dl{ padding:25px 0px; border-bottom:1px solid #d9d9d9;}
.Contact dl dt{ margin:0px; padding:0px;}
.Contact dl dt p{font-size:14px; color:#1a1a1a; padding-left:50px; padding-bottom:20px;}
.Contact dl dt p.add{ background:url("lianxi1.png") no-repeat 0px 5px;}
.Contact dl dt p.tel{ background:url("lianxi2.png") no-repeat 0px 5px;}
.Contact dl dt p.fax{ background:url("lianxi3.png") no-repeat 0px 5px;}
.Contact dl dt p.Email{ background:url("lianxi4.png") no-repeat 0px 5px;}
.Contact dl dd{ float:right; width:345px; margin-left:40px;}
.Contact dl dd img{display:block; width:345px;}

.ContactStation{margin:0px; padding:30px 0px 0px;}
.ContactStation h3{ font-size:16px; padding-bottom:15px;}
.ContactStation dl{ margin:0px; padding:0px;}
.ContactStation dl dt{ font-size:14px; color:#00539d; padding-bottom:10px;}
.ContactStation dl dd{ font-size:13px; padding-bottom:20px;}


/*交通路线*/
.ContactMap{background:#fff;margin-top:20px;}
.ContactMap h3.ContactMaptitle{ border-bottom:1px solid #ccc; font-size:18px; padding-top:15px; padding-bottom:13px;}
.ContactMap .ContactMapimg{ margin:0px; padding:30px 0px 0px;}
.ContactMap dl.ContactMaptext{ margin:0px; padding:35px 0px 0px;}
.ContactMap dl.ContactMaptext dd{ float:left; color: #ff0066; font-weight: bold; font-size:14px; width:105px;}
.ContactMap dl.ContactMaptext dt{ float:right; width:725px; font-size:13px;}

.ContactMap>h5{ font-size: 18px; line-height: 60px; font-weight: bold; color:#ff0066; text-indent:2em;}
.ContactMap>p{ font-size: 18px; line-height: 24px;font-family: "新宋体"; color: #000;text-indent:2em;}
.ContactMap>p span{ color: #ff0066; font-weight: bold;}


/*  2016-09-19  */

.pagenav { position: relative; z-index: 9; }
.pagenav ul li:hover .nav2 { display: block; }
.pagenav ul li:hover h3 a{border-bottom:3px solid #188adb;color:#188adb;}
.nav2 { display: none; width: 100%; background: #fff; position: absolute; top: 46px; left: 0; }
.nav2 p { padding-left: 16px; border-bottom: 1px solid #e7e7e7; background: url("nav2.png") no-repeat 92% center; }
.nav2 p a { display: block; font-size: 13px; color: #666; }
.nav2 p:hover { background: url("nav1.png") no-repeat 92% center; }
.nav2 p:hover a { color: #188adb; }

.indexaisle a { width: 276px; height: 142px;margin-top:30px; }
.indexaisle div { width: 1210px; margin: 0 auto; }
.exaistext { float: left; width: 260px; height: 48px; overflow: hidden; margin: 0; text-align: left; }
.exaiseicon2 { display: none; }

.exaistitle {  font-size: 20px; }


/*  2016-09-21  */

.newlink { padding-bottom: 40px; }
.newlink p { float: left; width: 200px; height: 56px; line-height: 56px; margin-left: 18px; background: #5aaae2; border-radius: 3px; }
.newlink p a { display: block; padding-left: 70px; font-size: 20px; color: #fff; }
.newlink p .a1 { background: url("dd1.png") no-repeat 40px center; }
.newlink p .a2 { background: url("dd2.png") no-repeat 40px center; }
.newlink p .a3 { background: url("dd3.png") no-repeat 36px center; }
.newlink p:hover { background: #188adb; }





.commonDetailedContents table{ border-collapse:collapse;}
.commonDetailedContents table td,.commonDetailedContents table th{ border:1px solid #666;}





/*--------------1118 by lww----------------*/
.mask{width:100%; height:100%; position:fixed; top:0; left:0; z-index:1000; opacity:0.3; background:#000; display:none;}
.InLogin{width:500px; height:350px; position:fixed; top:50%; left:50%; z-index:1100; margin:-175px 0 0 -250px; display:none; background:#fff;}
.InLogin img{width:219px; margin:29px auto 22px; display:block;}
.InLogin h3{ color:#0a69b2; text-align:center; border-bottom:1px solid #dcdcdc; padding-bottom:22px;}
.InLogin label{ padding-left:60px; font-size:16px; color:#333; line-height:35px; padding-top:33px; display:block;}
.InLogin label input{width:248px; height:33px;  border:1px solid #dcdcdc; padding:0 10px;}
.InLogin p{ padding:35px 0 0 125px; position:relative;}
.InLogin p .btn{width:110px; height:38px; overflow:hidden; line-height:38px; text-align:center; color:#fff; background:#0a69b2; float:left; font-size:16px; margin-right:30px;}
.InLogin .closeInLogin{width:36px; height:36px; position:absolute; right:-75px; top:-260px; background:url("close02.png") no-repeat; }
.zaddcontact1{background:#fff;font-size:14px;}
.conmap{padding:0;border:none;}
.contacttext{text-align:center;color:#999999;}
.contitle{color:#00a1e9; font-size:30px;font-weight:bold; line-height:32px;}
.context{font-family:Arial;text-transform:uppercase;}
.contactmess{padding:56px 0;}
.contactmess li{float:left;width:25%;font-size:13px;color:#666;text-align:center;}
.conaddressicon{display:inline-block; width:81px;height:80px;margin-bottom:12px;}
.contactmesstext{padding-top:12px;font-size:14px;color:#666;}
.conaddress{background:#00a1e9 url("zimg31.png") no-repeat;}
.conphone{background:#00a1e9 url("zimg32.png") no-repeat;}
.conchuanz{background:#00a1e9 url("zimg33.png") no-repeat;}
.conemail{background:#00a1e9 url("zimg34.png") no-repeat;}
.Complaints{ margin-top:33px; border:1px solid #e3e3e3; padding:20px 43px 0;}
.Complaints dl{margin:0px; padding:0px;}
.Complaints dl p{ padding:15px 0px 10px;}
.Complaints dl dt{font-size:14px;color:#1a1a1a;float:left; width:357px;}
.Complaints dl dt label{border:1px solid #dcdcdc;height:17px; display:block; padding:7px 10px 9px;}
.Complaints dl dt label input{ border:none; background:none; outline:none; width:100%; float:left;font-size:14px; font-family:'Microsoft YaHei';color:#999}

.Complaints dl dd{ float:right; width:357px;font-size:14px; color:#1a1a1a;font-size:14px;}
.Complaints dl dd label{border:1px solid #dcdcdc;height:17px; display:block; padding:7px 10px 9px;}
.Complaints dl dd label input{ border:none; background:none; outline:none; width:100%; float:left;font-size:14px; font-family:'Microsoft YaHei';color:#999}
.Complaints ul p{ padding:20px 0px; font-size:14px;}
.Complaints ul label.textarea{ width:97.5%;height:165px;border:1px solid #dcdcdc; display:block; padding:10px;}
.Complaints ul label.textarea textarea{ overflow:auto; width:99%; height:165px; border:none; background:none; outline:none; font-size:14px; font-family:'Microsoft YaHei';float:left; color:#999;resize:none;}
.Complaints span{ color:#00a1e9; padding-right:5px;}
.Complaintsbutton{ text-align:center; float:left; padding:48px 0 57px 172px;}
.Complaintsbutton input{ background:#00a1e9;font-family:'Microsoft YaHei'; font-size:18px; color:#fff; height:35px; width:120px; margin:0px 10px; cursor:pointer; outline:none;}
.Complaintsbutton  input.reset{ margin:0 0 0 10px;}
.ComplaintsDescription span{ color:#188adb;}

.vcode {width:330px;padding-top:15px; float:left;}
.vcode .firstp{ height:33px; line-height:33px; margin-top:10px;  border:1px solid #d0d0d0; overflow:hidden;}
.vcode .firstp input{width:230px; padding:0 5px; line-height:33px; height:33px;}

.vcode .firstp img{ float:right;}

.LeaveMessage{ border-collapse:collapse; margin-top:45px;}
.LeaveMessage td{ border:none; border-bottom:1px solid #eee; font-size:13px; color:#666; text-align:center; height:68px;}
.firsttr{ background:#f8f8f8; }
.firsttr td{ line-height:50px; height:50px; border-bottom:none;color:#188adb;}

.fix-qrcode{position:fixed;right:0;bottom:0;width:200px;height:260px;z-index:100;}
.fix-qrcode img{display:block;width:100%;}
.fix-qrcode .close {position:absolute;right:10px;top:10px;width:40px;height:40px;text-algin:center;font-size:20px;line-height:40px;font-size:0;}





