@charset "gb2312";
/* CSS Document */

body,div,p,a,span,input,label,ul,li,dl,dt{ padding:0; margin:0; font-family:"微软雅黑"; font-size:14px;}
body{ background:url(../images/bodybg.jpg) repeat; width:100%; height:100%;}
img,input,button,select{border:none;}
ul,li{list-style:none;}
a{ color:#000; text-decoration:none;}
a:hover{ color:#007bc4; text-decoration:none;}
.clear{ clear:both;}

/*index*/



.main{ width:1100px; margin:auto;}
.part1{ height:268px; background:#fff; border:#ccc 1px solid; margin-top:20px;}

/*yx_rotaion*/
.yx-rotaion{ width:350px; height:269px; float:left; }
.yx-rotaion22{ width:350px; height:269px; float:left;}
.yx-rotaion-btn,.yx-rotaion-title,.yx-rotation-focus,.yx-rotation-t,.yx-rotaion-btn{position:absolute}
.yx-rotation-title{position:absolute;width:100%;height:40px;line-height:40px;background:#000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4;left:0;bottom:0;_bottom:-1px;z-index:1}
.yx-rotation-t{color:#fff;font-size:14px;font-family:microsoft yahei;z-index:2;bottom:0;left:10px;line-height:40px}
.yx-rotation-focus span,.yx-rotaion-btn span{background:url(../images/ico.png) no-repeat;display:block;}
.yx-rotation-focus{height:40px;line-height:40px;right:20px;bottom:0;z-index:2}
.yx-rotation-focus span{width:12px;height:12px;line-height:12px;float:left;margin-left:5px;position:relative;top:14px;cursor:pointer;background-position:-24px -126px;text-indent:-9999px}
.yx-rotaion-btn{width:100%;height:41px;top:50%;margin-top:-20px;}
.yx-rotaion-btn span{width:41px;height:41px;cursor:pointer;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;position:relative}
.yx-rotaion-btn .left_btn{background-position:-2px -2px;float:left;left:10px}
.yx-rotaion-btn .right_btn{background-position:-2px -49px;float:right;right:10px}
.yx-rotaion-btn span.hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}
.yx-rotation-focus span.hover{background-position:-10px -126px}
.rotaion_list{width:350px;height:269px;overflow:hidden;}
.rotaion_list img{ width:100%;}

.yaowen{ width:748px; float:right;}
.ywtop{ width:100%; height:40px; line-height:40px; border-bottom:#ccc 1px solid;color:#007bc4;}
.qhbt ul li{ width:120px; float:left; height:40px; line-height:40px;}
.qhbt ul li a{ width:135px; height:40px; display:block; text-align:center; font-size:18px;color:#007bc4;}
.qhbt span {color:#fff;font-weight:bold;padding-left:26px;background:#007bc4;}
.qhbt ul li a:hover,.qhbt ul li a.cur{ background:#007bc4; color:#fff;}
.more{ float:right; margin-right:15px;color:#007bc4;}
.xinwen{ width:708px; margin:auto; margin-top:15px; text-align:center;}
.xinwen p a{ font-size:16px; color:#000; font-family:"微软雅黑"; font-weight:bold;}
.xinwen p a:hover{ color:#007bc4;}
.xinwen .xwenba{ display:block; text-align:left; text-indent:2em; border-bottom:#ccc 1px dashed; padding-bottom:15px; line-height:22px; height:44px; overflow:hidden;font-size:10px;color:#555;}

.xinwen .xwenba a{ color:#666; text-decoration:none;font-size:12px;}
.xinwen .xwenba a:hover{ color:#007bc4; text-decoration:none;font-size:12px;}

.xinwen .xwenba a {}
.xinwen .xwenbaa{ color:#333;}
.xinwen .xwenbaa:hover{ color:#007bc4;}
.newsList1{ width:708px; margin:auto; margin-top:10px;}
.newsList1 ul li{ width:340px; float:left; height:34px; line-height:30px; border-bottom:#ccc 1px dashed;margin-right:10px;}

.newsList118{ width:708px; margin:auto; margin-top:10px;}
.newsList118 ul li{ width:340px;  height:34px; line-height:30px; border-bottom:#ccc 1px dashed;}

.newsList1 ul li a{ float:left; width:75%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.newsList118 ul li a{ float:left; width:75%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.newsList1 ul li.xx{ border-bottom:none;}
.newsList118 ul li.xx{ border-bottom:none;}

.newsList1 ul li:nth-of-type(even){ float:right;}
.newsList118 ul li:nth-of-type(even){ float:right;}
.newsList1 ul li span{ float:right; color:#555; font-size:12px;}
.newsList118 ul li span{ float:right; color:#555; font-size:12px;}






.part2{ width:100%; margin:auto; height:auto; overflow:hidden;}
.nrleft{ width:640px; float:left; height:auto; overflow:hidden;}
.nrleft .yaowen{ width:99%; height:269px; background:#fff; border:#ccc 1px solid;}
.nrleft .xinwen,.nrleft .newsList1{ width:680px;}
.nrleft .newsList1 ul li{ width:326px;}






.zpmenu{ background:#fff; border:#ccc 1px solid;width:718px;float:left;height:197px;overflow:hidden; margin-top:20px; position:relative;}
.zpmenu dl{width:718px;float:left;height:197px; position:absolute; top:0;}
.zpmenu dt{width:45px;float:left;height:197px; display:inline; border-left:#fff 1px solid;}
.zpmenu dd{position:relative;width:534px; height:197px; float:left; margin-left:0;}
div.zpmenu dl#slider2 dd div.zpinfor{padding:12px 20px 0 20px;width:499px;font:12px/21px "微软雅黑", "宋体";float:left;display:inline;height:190px;background:#fff;}




.zpmenu dd h2{border-bottom:#b4b4b4 1px dashed;padding-bottom:10px;width:500px;float:left;color:#000;font-size:15px; margin:0;}
.zpmenu dd ul{width:500px;float:left; display:inline; height:128px; margin-top:6px; overflow:hidden;}
.zpmenu dd ul li{line-height:24px; margin-right:20px; white-space:nowrap;float:left; font-size:13px;}
.zpmenu dd ul.keyan li{ margin-right:40px;}


.nrright{ width:30.9%; float:right; height:236px; overflow:hidden; padding:14px 21px 19px; background:#fff; border:#ccc 1px solid;}
.leibt{ font-size:18px; margin-bottom:5px; position:relative; color:#007bc4;}
.leibt a{ position:absolute; top:2px; right:0;}
.bylist{ height:195px; overflow:hidden; margin-bottom:15px;}
.bylist ul li{ width:93px; height:84px; float:left; margin-right:10px; margin-top:20px;}

.bylist ul li a{ display:block; width:97px; height:28px; text-align:center; color:#fff; font-size:15px;}
.bylist ul li a:hover{ text-shadow:1px 1px 1px #555;}
.bylist ul li a.by01{ background-position:-98px 0;}
.bylist ul li a.by02{ background-position:-196px 0;}
.bylist ul li a.by03{ background-position:0 -75px;}
.bylist ul li a.by04{ background-position:-98px -75px;}
.bylist ul li a.by05{ background-position:-196px -75px;}
.bylist ul li a.by06{ background-position:0 -150px;}
.bylist ul li a.by07{ background-position:-98px -150px;}
.bylist ul li a.by08{ background-position:-196px -150px;}

.keshi { position:relative; width:311px; height:130px; overflow:hidden; margin-top:10px;}
.ksleibie { background:#007bc4; height:32px; padding:3px 3px 0; line-height:32px;}
.ksleibie a { float:left; padding:0 6px; color:#fff;}
.ksleibie a.current { background:#fff; color:#007bc4;}
.tab-con { position:relative; width:311px; height:95px;}
.tab-con-item { display:none; width:311px; height:95px; text-align:center; color:#fff;}
.ksname{ width:290px; margin:auto; margin-top:10px; height:auto; overflow:hidden;}
.ksname ul li{ float:left; width:93px; margin-right:5px; margin-top:5px; height:37px;}
.ksname ul li.rr{ margin-right:0;}
.ksname ul li a{ display:block; background:url(../images/ksbg.jpg) repeat-x; height:35px; width:91px; border:#ccc 1px solid; text-align:center; line-height:35px; font-size:12px;}


.footline{ height:auto; overflow:hidden; margin-top:20px; border-top:#007bc4 3px solid; padding:15px 0;}
.foot{ width:1100px; margin:auto;}
.footlogo{ float:left; width:250px; margin-top:15px;}
.foot_right{ width:750px; float:left; margin-left:70px;}
.lianjie{ height:26px; overflow:hidden; margin-top:10px;}
.lianjie span{ float:left; width:160px; height:24px; background:url(../images/upjt.png) 145px center no-repeat #fff; border:#ccc 1px solid; overflow:hidden; margin-right:7px;}
.lianjie span select{ background:transparent; width:160px; height:24px; line-height:24px; -webkit-appearance:none; /*for chrome*/
   -moz-appearance:none; /*for firefox*/}
.dizhi{ font-size:13px; color:#555; line-height:22px; margin-top:15px;}


.piaofu{ background:#007bc4; width:120px; height:400px; border-radius:20px 20px 0 0; padding:0 5px 5px; position:fixed; right:0; top:50%; margin-top:-190px;z-index:10001;}
.erweima_top{ height:35px; line-height:35px; color:#fff; padding-left:8px;}
.erweima{ background:#fff; height:360px; padding-top:5px;}
.erweima ul li{ width:100px; margin:auto; height:auto; overflow:hidden; margin-bottom:15px;}
.erweima ul li span{ display:block; margin-top:2px; font-size:12px;}
.yibacha{ position:absolute; right:10px; top:5px;}


/*总科室导航*/
.nynav{ background:#007bc4; height:48px; position:relative; margin-top:20px; z-index:9999;}
.daqianwz{ width:1100px; margin:auto; margin-top:15px;}
.incontent{ width:1050px; margin:auto; background:#fff; height:auto; overflow:hidden; margin-top:20px; padding:20px 25px;}
.inkstitle{ font-size:16px; color:#444; font-weight:700; letter-spacing:1px; border-bottom:#ccc 1px solid; padding-bottom:12px;}
.ksname.qi{ width:1050px; margin-bottom:20px;}
.ksname.qi ul li{ width:133px; margin-top:10px; margin-right:17px;}
.ksname.qi ul li a{ width:131px;}
.ksname.si ul li{ width:245px;}
.ksname.si ul li a{ width:243px;}

.ksname.se ul li{ width:275px;}
.ksname.se ul li a{ width:273px;}


.ksname1.qi{ width:1050px; margin-bottom:20px;}
.ksname1.qi ul li{ width:133px; margin-top:10px; margin-right:17px;}
.ksname1.qi ul li a{ width:131px;}
.ksname1.si ul li{ width:245px;}
.ksname1.si ul li a{ width:243px;}



/*临床科室*/
.lcks{ width:1100px; margin:auto; margin-top:20px; height:275px; overflow:hidden;}
.lctu{ width:634px; float:left;}
.lcintro{ width:466px; float:right; color:#333; background:#fff; height:275px; overflow:hidden;}
.lctitle{ font-size:16px; border-bottom:#ccc 1px solid; height:40px; line-height:40px; padding-left:20px;font-weight:bold;color:#007bc4; }
.lczi{ width:426px; margin:auto; margin-top:10px; line-height:34px;}
.lcnr{ height:180px; overflow:hidden;}
.inmore a{ color:#f00;}
.yihang{ height:auto; overflow:hidden;}
.yihang.down{ margin-top:20px;}
.leftlie{ width:610px; float:left;}
.hangbt{ width:610px; height:30px; line-height:24px; border-bottom:#ccc 1px solid; padding-bottom:10px; margin-bottom:10px; font-size:16px;}

.hangbt span{ float:left; width:400px; height:40px; padding-left:0px; padding-top:10px; font-size:16px;font-weight:bold;color:#007bc4; }

.hangbt1{ width:610px; height:30px; line-height:24px; border-bottom:#ccc 1px solid; padding-bottom:10px; margin-bottom:10px; font-size:16px;}
.hangbt1 span{ float:left; width:400px; height:40px; padding-left:0px; padding-top:10px; font-size:16px;font-weight:bold;color:#007bc4; }
.hangbt1 a{ width:400px; height:40px;  font-size:16px;font-weight:bold;color:#007bc4; }
.hangbt1 a:hover{ color:#d495c4; text-decoration:none;}

.hangbt span.c1{ background-position:0 -25px;}
.hangbt span.c2{ background-position:0 -50px;}
.hangbt span.c3{ background-position:0 -75px;}
.hangbt a{ float:right;padding-top:10px;margin-top:-45px;}
.hangbt span a{  font-size:16px;font-weight:bold;color:#007bc4;}
.hangbt span.a{  font-size:16px;font-weight:bold;color:#007bc4;}



.hanglist ul li{ height:32px; line-height:32px; border-bottom:#c6c6c6 1px dashed;}
.hanglist ul li a{ float:left; width:80%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; height:32px; line-height:32px;}
.hanglist ul li span{ float:right; font-size:13px; color:#555; height:32px; line-height:32px;}

.hanglist11 ul li{ height:34px; line-height:34px; border-bottom:#c6c6c6 1px dashed;}
.hanglist11 ul li a{ float:left; width:80%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; height:34px; line-height:34px;}
.hanglist11 ul li span{ float:right; font-size:13px; color:#555; height:34px; line-height:34px;}


.hanglist2 ul li{ height:35px; line-height:35px; border-bottom:#c6c6c6 1px dashed;}
.hanglist2 ul li a{ float:left; width:80%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.hanglist2 ul li span{ float:right; font-size:13px; color:#555;}

.rightlie{ width:410px; float:right;}
.rightlie .hangbt{ width:410px; margin-bottom:15px;}
.rightlie .lczi,.leftlie .lczi{ width:410px; height:180px; overflow:hidden; color:#333;}

.zjlist ul li{ width:292px; float:left; margin-right:26px; margin-top:10px;}
.zjlist ul li:nth-of-type(even){ margin-right:0;}
.zjleft{ width:126px; float:left;}
.zjright{ width:142px; float:right; background:#f1f1f1; height:144px; padding:12px;}
.zjright span{ display:block; height:auto; overflow:hidden; margin-bottom:10px; line-height:22px;}
.zjright span.xq{ margin-top:25px;}
.zjright span a{ color:#333;}
.zjright span a:hover{ color:#f00;}

.fanye input{background:transparent;border:1px solid #242424}
/*职能科室1*/
.znks{ width:1080px; margin:auto; background:url(../images/ksbanner.png) no-repeat; height:150px; margin-top:20px; font-family:"华文隶书"; font-size:62px; color:#fff; text-shadow:#fff 1px 0 0,#fff 0 1px 3px,#fff -1px 0 0,#fff 0 -1px 0;-webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;-moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*filter: Glow(color=#fff, strength=1);padding-left:20px; padding-top:80px;}

.znks8{ width:1080px; margin:auto; background:url(../images/ksbanner.png) no-repeat; height:150px; margin-top:20px; font-family:"华文隶书"; font-size:50px; color:#fff; text-shadow:#fff 1px 0 0,#fff 0 1px 3px,#fff -1px 0 0,#fff 0 -1px 0;-webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;-moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*filter: Glow(color=#fff, strength=1);padding-left:20px; padding-top:80px;}

.znks1{ width:1080px; margin:auto; background:url(../images/ksbanner.png) no-repeat; height:200px; margin-top:20px; font-family:"华文隶书"; font-size:50px; color:#fff; text-shadow:#fff 1px 0 0,#fff 0 1px 3px,#fff -1px 0 0,#fff 0 -1px 0;-webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;-moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*filter: Glow(color=#fff, strength=1);padding-left:20px; padding-top:30px;}

.znks2{ width:1080px; margin:auto; background:url(../images/ksbanner.png) no-repeat; height:200px; margin-top:20px; font-family:"华文隶书"; font-size:46px; color:#fff; text-shadow:#fff 1px 0 0,#fff 0 1px 3px,#fff -1px 0 0,#fff 0 -1px 0;-webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;-moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*filter: Glow(color=#fff, strength=1);padding-left:20px; padding-top:30px;}

.znks3{ width:1080px; margin:auto; background:url(../images/ksbanner.png) no-repeat; height:200px; margin-top:20px; font-family:"华文隶书"; font-size:40px; color:#fff; text-shadow:#fff 1px 0 0,#fff 0 1px 3px,#fff -1px 0 0,#fff 0 -1px 0;-webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;-moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*filter: Glow(color=#fff, strength=1);padding-left:20px; padding-top:30px;}

.znks4{ width:1080px; margin:auto; background:url(../images/ksbanner.png) no-repeat; height:200px; margin-top:20px; font-family:"华文隶书"; font-size:30px; color:#fff; text-shadow:#fff 1px 0 0,#fff 0 1px 3px,#fff -1px 0 0,#fff 0 -1px 0;-webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;-moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*filter: Glow(color=#fff, strength=1);padding-left:20px; padding-top:30px;}

.znks5{ width:1080px; margin:auto; background:url(../images/ksbanner.png) no-repeat; height:200px; margin-top:20px; font-family:"华文隶书"; font-size:40px; color:#fff; text-shadow:#fff 1px 0 0,#fff 0 1px 3px,#fff -1px 0 0,#fff 0 -1px 0;-webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;-moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*filter: Glow(color=#fff, strength=1);padding-left:20px; padding-top:30px;}


.znksnr{ width:1100px; margin:auto; margin-top:20px;}
.ksleft{ width:200px; float:left;}
.ksleft ul li{ width:200px; height:40px; line-height:40px; margin-bottom:1px;}
.ksleft ul li a{ display:block; background:url(../images/ksinnav.jpg) center bottom no-repeat; height:40px; padding-left:30px; color:#fff; font-size:15px;}
.ksleft ul li a:hover,.ksleft ul li a.cur{ background-position:0 0; color:#007bc4; font-weight:700;}

.ksright{ float:right; width:850px; background:#fff; padding:20px 25px; min-height:400px;}
.ksright .leftlie,.ksright .hanglist{ width:410px;}
.hangbt.zn{ width:405px;}
.ksright .rightlie .hangbt{ margin-bottom:10px;}
.ksright .lczi{ width:380px; height:135px;}
.ksright .hanglist ul li,.innewsright .hanglist ul li{ border:none; height:38px; line-height:30px;}

.ksright .leftlie,.ksright .hanglist1{ width:410px;}
.hangbt.zn{ width:405px;}
.ksright .rightlie .hangbt{ margin-bottom:10px;}
.ksright .lczi{ width:380px; height:135px;}
.ksright .hanglist ul li,.innewsright .hanglist1 ul li{ border:none; height:39px; line-height:30px;}

.ksright .hanglist ul li a{ width:410px;}
.hangbt span.c4{ background-position:0 -100px;}
.hangbt span.c5{ background-position:0 -125px;}
.hangbt span.c6{ background-position:0 -150px;}
.hangbt span.c7{ background-position:0 -175px;}
.hangbt span.c8{ background-position:0 -200px;}

/*职能科室2*/
.znks.er{ background:url(../images/znbanner.jpg) no-repeat;}
.leftlie.zn,.hangbt.zhng{ width:670px;}
.rightlie.zn{ width:350px;}
.incontent .rotaion_list{ width:300px; height:230px;}
.incontent .yx-rotaion{ width:300px; height:230px;}
.incontent .part1{ width:670px; height:230px; border:none;}
.incontent .yaowen{ width:345px; margin-right:10px;}
.incontent .xinwen,.incontent .newsList1,.incontent .newsList1 ul li{ width:340px; margin-top:0;}
.incontent .xinwen span{ padding-bottom:13px;}

.hangbt.zhi{ width:350px;}
.gexing ul li{ width:346px; height:53px; padding:2px; border-bottom:#ccc 1px solid; color:#333;}
.gexing ul li .rili{ width:56px; float:left; text-align:center; height:45px; padding-top:8px;}
.gexing ul li .rili span{ display:block; font-family:Arial, Helvetica, sans-serif; font-size:15px;}
.gexing ul li .rili span.dd{ font-size:18px;}
.gexing ul li .tiao{ float:right; width:260px; height:37px; background:#fff; padding:8px 15px; overflow:hidden;}
.beijing{ background:#d796c0; border-bottom:#d796c0 1px solid;}
.ziti{ color:#fff;}

.znzuo{ width:510px; float:left;}
.znzuo.rr{ float:right;}
.znzuo .hangbt{ width:510px;}
.xiaonv{ width:450px; float:left;}
.xiaonv a{ float:none; margin:0 15px; font-size:16px;}
.xiaonv a:hover,.xiaonv a.cur{ color:#007bc4;}
.znzuo .newsList1,.znzuo .newsList1 ul li{ width:510px;}

/*医院介绍*/
.gkleft{ width:200px; float:left;}
.gaikuang{ background:url(../images/gk.png) 25px center no-repeat #007bc4; width:120px; height:55px; border-radius:40px 40px 0 0; padding-left:80px; padding-top:15px;}
.gaikuang span{ display:block; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.gaikuang span.zhw{ font-family:"微软雅黑"; font-size:16px; font-style:italic; letter-spacing:1px;}
.gknav{ width:198px; height:auto; overflow:hidden; background:#fff; border:#ccc 1px solid;}
.gknav ul li{ height:40px; padding:1px 0; line-height:40px; border-bottom:#ccc 1px solid;}
.gknav ul li:last-child{ border-bottom:none;}
.gknav ul li a{ display:block; background:url(../images/ksinnav.jpg) no-repeat; width:178px; height:40px; font-size:15px; padding-left:20px;}
.gknav ul li a:hover,.gknav ul li a.cur{ background-position:0 -41px; color:#fff;}

.gkdown{ margin-top:20px; border:#ccc 1px solid;}
.bybt{ background:url(../images/bybtbg.jpg) repeat-x; height:45px; width:178px; line-height:45px; font-size:16px;; padding-left:20px; border-bottom:#ccc 1px solid;}
.byfwnav{ background:#fff; width:180px; height:auto; overflow:hidden; padding:15px 9px;}
.byfwnav ul li{ float:left; width:80px; height:28px; line-height:28px; margin:5px;}
.byfwnav ul li a{ display:block; background:#e4e4e4; width:80px; height:28px; text-align:center;}
.byfwnav ul li a:hover{ background:#007bc4; color:#fff;}

.gkright{ width:830px; float:right; background:#fff; padding:10px 25px 30px; min-height:500px; height:auto; overflow:hidden; }
.neirongbt{ width:100%; height:40px; line-height:40px; border-bottom:#ccc 1px solid;}
.neirongbt span{ padding:0 15px 8px; border-bottom:#007bc4 2px solid; font-size:16px; color:#000; }
.yyprofile{ color:#000; line-height:28px; margin-top:15px;padding:0; margin:0; font-family:"宋体"; font-size:14px;z-index:999;}
.yyprofile p {font-family:"宋体"; font-size:14px;z-index:999;}
.yyprofile1{ color:#000; line-height:28px; margin-top:15px;padding:0; margin:0; font-family:"微软雅黑"; font-size:14px;}
.yyprofile1 p {font-family:"宋体"; font-size:14px;}
.share{z-index:1000;padding-top:40px;}

/*现任领导*/
.leader{ width:760px; margin:auto; margin-top:40px; height:auto; overflow:hidden;}
.leader_da ul{
    overflow: hidden;
    width: 376px;
    margin-left: 174px;
}
.leader_da ul li,.leader-xiao ul li{ width:168px; float:left;height:235px;text-align:center; margin:0 10px;}
.leader-xiao ul li.rr{ margin-right:0;}
.leader_da ul li span,.leader-xiao ul li span{ display:block; font-size:15px; height:auto; overflow:hidden; margin-top:10px;}
.leader_da ul li span.xxjs{ font-size:13px; text-align:left; color:#444; text-indent:2em;}
.leader_da ul li span.xxjs a{ color:#f00;}
.leader_da ul li span.leadimg,.leader-xiao ul li span.leadimg{ background:#c6e7e4; width:140px; height:190px; padding:7px; margin:auto;}
.leader-xiao{ height:auto; overflow:hidden; margin-top:20px;}
.leader-xiao ul li{ width:160px; margin-top:25px;}
.leader-xiao ul li span.leadimg{ width:146px; height:175px;}

/*院容院貌*/
.yxprofile{ color:#000; line-height:28px; margin-top:15px;padding:0; margin:0; font-family:"宋体"; font-size:14px;z-index:999;}

.yxprofile span{ display:block; width:620px; margin:auto; text-align:center; line-height:30px; font-size:15px;}

/*出诊时间*/
.gaikuang.one{ background:url(../images/by.png) 25px center no-repeat #007bc4;}
.menzh{ width:100%; background:#e4e3e8; height:20px; margin:25px 0; position:relative;}
.menzhtab{ position:absolute; top:-6px; left:0;}
.menzhtab a{ float:left; background:url(../images/chuzhenbtn.jpg) no-repeat; width:116px; text-align:center; height:30px; line-height:30px; margin:0 5px; color:#fff;}
.menzhtab a:hover,.menzhtab a.cur{ background-position:0 -30px;}

.chuzhen table{ border:#ccc 1px solid; border-top:#007bc4 3px solid;}
.chuzhen th{ background:#f1f1f1; height:45px; line-height:45px; border-right:#ccc 1px solid;}
.chuzhen td{ text-align:center; border-right:#ccc 1px solid; border-top:#ccc 1px solid; padding:5px 0; line-height:20px; font-size:13px; color:#333;}
.chuzhen tr td:last-child,.chuzhen tr th:last-child{ border-right:none;}
.chuzhen td a{ color:#007bc4; font-size:13px;}

/*医生个人简介*/
.jiandan{ margin-top:20px;}
.zjpic{ width:110px; float:left;}
.zjjs{ width:700px; float:right; line-height:26px;}
.zjjs p{ font-size:14px;}
.sanlie{ float:left; width:20%; margin-top:10px;}
.sanlie span,.dierpai span{ float:left;}
.dierpai span.kuan{ width:600px;}
.sanlie span.zilv,.dierpai span.zilv,.yiduan span.zilv{ color:#000;}
.yiduan span{ display:block; line-height:26px;}
.yiduan table{ border:#ccc 1px solid; margin-top:10px;}
.yiduan th{ border-right:#ccc 1px solid;}
.yiduan td{ text-align:center; border-right:#ccc 1px solid; border-top:#ccc 1px solid;}
.yiduan td:last-child,.yiduan th:last-child{ border-right:none;}

/*来院路线*/
.luxian{ margin:20px 0; line-height:26px; font-size:15px;}

/*院内导航*/
.yuanneidh{ margin-top:30px; text-align:center;}

/*通知公告*/
.gaikuang.two{ background:url(../images/tz.png) 25px center no-repeat #007bc4;}

/*通知公告*/
.toutiao{ width:100%; margin-top:20px; height:auto; overflow:hidden; border-bottom:#ccc 1px dashed; padding-bottom:15px;}
.tzdatu{ width:183px; float:left;}
.tongzhwz{ width:627px; float:right;}
.tongzhwz p a{ font-size:15px; color:#000; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.tongzhwz p a:hover{ color:#007bc4;}
.laiyuan span{ float:left; font-size:12px; margin-right:50px; margin-top:12px; color:#555;}
.jieshuo{ margin-top:12px; height:40px; line-height:20px; overflow:hidden; text-indent:2em;}
.jieshuo a{ color:#f00;}
.notice ul{font-family:"宋体"; font-size:15px;}
.notice ul li{ width:100%; height:36px; line-height:36px; border-bottom:#ccc 1px dashed;}
.notice ul li a{ float:left; width:80%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;font-family:"宋体"; font-size:15px;}
}
.notice ul li span{ float:right; color:#555; font-size:13px;}

#pageGro{ width:320px; margin:auto; height:22px; margin-top:30px;margin-bottom:30px;}
#pageGro div,#pageGro div ul li{ color:#333; line-height:20px; float:left; margin:0 3px;}
#pageGro div ul li{ width:25px; text-align:center; border:1px solid #999; cursor:pointer;}
#pageGro div ul li.on{ color:#fff; background:#0b7dcd; border:1px solid #0b7dcd;}
#pageGro .pageUp,#pageGro .pageDown{ width:65px; border:1px solid #999; cursor:pointer;}
#pageGro .pageUp{ text-indent:18px; background:url(../images/pageUp.png) 5px 6px no-repeat;}
#pageGro .pageDown{ text-indent:7px; background:url(../images/pageDown.png) 50px 6px no-repeat;}

/*新闻详情页*/
.article{ font-size:18px; text-align:center; margin-top:20px;font-weight:bold;}
.article1{ font-size:14px; text-align:center; margin-top:20px;font-weight:bold;}

.pizhu{ margin-top:10px; color:#555; text-align:center;}
.pizhu span{ margin:0 20px; font-size:13px;}
.a2{padding-right;20px;}

.news_pic{width:1100px; height:360px; margin:auto; margin-top:20px;}

.inner_main{ width:1100px; margin:auto; height:auto; overflow:hidden;}
.innewsleft{ width:725px; float:left;}
.innewsright{ width:310px; float:right; padding:5px 20px 15px; margin-top:0px;}
.innewsright1{ background:#fff;padding-right:20px; padding-bottom:20px;padding-left:20px;padding-top:10px;}
.innewsright2{ background:#fff; width:310px; float:right; padding:5px 0px 15px; margin-top:0px;}
.innewsright3{ background:#fff; width:310px; float:right; padding:5px 40px 15px; margin-top:0px;}
.innewsright5{ background:#fff; width:310px; float:right; padding:5px 20px 15px; margin-top:0px;}
.innewsright6{ background:#fff; width:310px; float:right; padding:5px 20px 15px; margin-top:0px;}
.zuo_part01{ background:#fff; width:685px; height:auto; overflow:hidden; padding:5px 20px 0px; margin-top:0px;}
.zuo_part01.sp{ padding-bottom:15px;}
.zuo_part01 .newsList1{ width:685px; margin:5px auto auto;}
.zuo_part01 .newsList1 ul li{ width:330px;}
.innerda{ height:89px; overflow:hidden; margin-top:20px; border-bottom:#ccc 1px dashed; padding-bottom:15px;}
.innewstu{ width:130px; float:left;}
.zuo_part01 .xinwen{ width:535px; float:right; margin-top:0;}
.zuo_part01 .xinwen span{ padding-bottom:0; border-bottom:none;}
.zuo_part01 .xinwen p{ text-align:left;}

.cur{ background:none; color:#007bc4;}


.inner_main .qhbt span{ float:left; font-size:16px; padding-right:20px;}
.shipin{ width:685px; overflow:hidden; margin-top:15px;}
.inner_main .more{ margin-right:0;}

.jujiaodt{ position:relative; height:auto; overflow:hidden; margin-top:7px; margin-bottom:10px;}
.chuxianzi{ background:#000; height:25px; line-height:25px; width:295px; padding-left:15px; filter:alpha(opacity=80);-moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; position:absolute; top:97px;}
.chuxianzi a{ color:#fff; font-size:12px;}

.zhuanti ul li{ width:145px; height:112px; overflow:hidden; float:left; margin-right:20px; margin-top:20px;}
.zhuanti ul li:nth-of-type(even){ margin-right:0;}

.als-container{ position:relative; width:100%; margin:0px auto;}
.als-viewport {position:relative; overflow:hidden; margin:0px auto;}
.als-wrapper{ position:relative;}
.als-wrapper li{ width:194px; overflow:hidden;}
.als-item{ position:relative; display:block; text-align:center; cursor:pointer; float:left;}
.als-prev,.als-next{ position:absolute; cursor:pointer; clear:both;}
#demo3 .als-item{ margin:0px 5px; padding:4px 0px; min-height:120px; min-width:100px; text-align:center;}
#demo3 .als-item img{ display:block; margin-bottom:8px; vertical-align:middle;}
#demo3 .als-prev,#demo3 .als-next{ display:none; top:50px;}
#demo3 .als-prev{ left:5px; z-index:999;}
#demo3 .als-next{ right:0;}

.yuanbao{ width:310px; height:180px; overflow:hidden; margin-top:20px;}
.zuobao{ float:left; width:123px;}
.baolist{ float:right; width:170px;}
.baolist ul li{ float:left; width:75px; list-style:disc none inside; height:auto; overflow:hidden; margin:0 5px 8px;}
.baolist ul li a{ font-size:13px; color:#333;}
.baolist ul li a:hover{ color:#007bc4;}

/*视频专区*/
.gaikuang.three{ background:url(../images/xw.png) 25px center no-repeat #007bc4;}
.suoyousp{ width:760px; margin:auto;}
.suoyousp ul li{ width:228px; float:left; text-align:center; margin:25px 25px 0 0; height:auto; overflow:hidden;}
.suoyousp ul li span{ display:block; margin-top:6px;}

/*科研部*/
.leftlie.ky,.leftlie.ky .hangbt{ width:305px;}
.kyjs{ width:305px; height:auto; overflow:hidden; margin-top:10px;}
.kyjs span{ display:block; margin-top:8px; color:#333; line-height:24px; max-height:100px; overflow:hidden;}
.kyjs span a{ color:#f00;}

.leftlie.dt{ width:475px; margin-left:25px;}
.leftlie.dt .hangbt,.newsList1.ky,.newsList1.ky ul li{ width:475px;}
.xiaonv.ky{ width:400px;}
.rightlie.ky,.rightlie.ky .hangbt{ width:220px;}

.zhchtj ul li{ height:45px; overflow:hidden; margin-top:8px;}
.zhchtj ul li a{ display:block; width:220px; height:45px; background:url(../images/tiaojian.png) no-repeat;}
.zhchtj ul li a.zc_yi{ background-position:0 -53px;}
.zhchtj ul li a.zc_er{ background-position:0 -106px;}
.zhchtj ul li a.zc_san{ background-position:0 -159px;}

.leftlie.qk,.leftlie.qk .hangbt{ width:550px;height:220px;}
.qikan ul li{ width:110px; float:left; margin-right:10px; margin-top:10px; text-align:center;}
.qikan ul li:last-child{ margin-right:0;}
.qikan ul li span{ display:block;}
.qikan ul li span.zz{ margin-top:8px;}
.rightlie.zuih,.rightlie.zuih .hangbt{ width:475px;}

/*教务部*/
.jwutu{ width:300px; float:left;}
.znzuo.jw,.znzuo.jw .hangbt,.znzuo.jw .newsList1,.znzuo.jw .newsList1 ul li{ width:333px;}
.znzuo.jw{ margin-right:25px;}
.znzuo.jw.rr{ margin-right:0;}

/*医务部*/
.ywjj{ padding-left:7px; line-height:26px; height:210px; color:#333; overflow:hidden;}

.znzuo.jw .xiaonv{ width:270px;}
.daibiaotu{ background:#E8E8E8; width:323px; height:70px; padding:5px; margin:20px 0 5px;}

/*护理部*/
.ygdenglu{ position:absolute; right:0;}
.ygdenglu a{ display:block; background:#1b6862; padding:0 10px; height:30px; line-height:30px; margin-top:9px; color:#fff;}
.ygdenglu a:hover{ background:#095650;}
/*login*/
#tanchu{ background:#007bc4; position:absolute; top:50%; left:50%; margin-top:-173px; margin-left:-233px; z-index:1500; width:442px; height:302px; padding:12px;}
.tmkuang{ width:360px; padding:20px 40px 30px; height:250px; margin:auto; background:#fff;}
.tmkuang p{ font-size:15px; color:#000;}
.denglu{ width:356px; height:101px; background:#fff; border:#c5c5c5 2px solid; margin-top:20px;}
.denglu span{ display:block; height:50px; line-height:50px;}
.denglu span.t1{ border-top:#ccc 1px solid;}
.denglu span input{ display:block; width:94%; height:20px; padding:15px 3%; color:#999; font-size:15px;}
.tips{ margin-top:20px;}
.login_anniu a{ float:left; background:#d495c4; width:170px; height:40px; line-height:40px; color:#fff; text-align:center; font-size:15px; margin:25px 20px 0 0;}
.login_anniu a.you{ background:#aaa; margin:25px 0 0 0;}
.close{ position:absolute; top:-10px; right:-10px;}

/*进修培训*/
.ksright.znny{ padding:0 25px 20px;}
.notice.znny{ margin-top:10px;}

/*医疗联盟*/
.newsList1.meng,.newsList1.meng ul li{ width:350px;}
.newsList1.meng ul li{ height:38px; line-height:38px;}
.newsList1.Lm,.newsList1.Lm ul li{ width:670px;}
.rightlie.zn .hangbt.zhi{ margin-bottom:10px;}
.mengyuan ul li{ width:145px; float:left; height:34px; line-height:34px; border-bottom:#ccc 1px dashed; padding:0 10px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.mengyuan ul li:nth-of-type(2n){ float:right;}

/*专家查询*/
.chaxuntj{ height:30px; line-height:30px; margin-top:20px;}
.chaxuntj span{ float:left; width:200px; height:28px; border:#ccc 1px solid; overflow:hidden; margin-right:7px;}
.chaxuntj span.xiala{ background:url(../images/upjt.png) 185px center no-repeat #fff;}
.chaxuntj span select{ background:transparent; width:200px; height:28px; line-height:28px; -webkit-appearance:none; /*for chrome*/
   -moz-appearance:none; /*for firefox*/ color:#666;}
.chaxuntj span input{ height:20px; height:20px; padding:4px;}
.chaxuntj span.anniu{ width:80px; border:none; height:30px;}
.chaxuntj span.anniu a{ display:block; background:#007bc4; color:#fff; height:30px; line-height:30px; text-align:center;}

.zhuanjia_result ul li{ width:110px; float:left; margin:30px 33px 0 0; text-align:center;}
.zhuanjia_result ul li span{ display:block; margin-top:5px;}
.zhuanjia_result ul li:nth-of-type(6n){ margin:30px 0 0 0;}

/*结果查询*/
.net_enter{ width:400px; margin:auto; margin-top:60px;}
.entering{ width:400px; height:30px; margin-top:15px;}
.entering span{ float:left; width:90px; text-align:right; height:30px; line-height:30px;}
.entering span.z1{ float:right; text-align:left; width:300px; border:#ccc 1px solid;}
.entering span.z1 input{ width:280px; height:20px; line-height:20px; padding:5px 10px;}
.entering span.z1 select{ width:300px; padding-left:5px; height:30px; line-height:30px;}
.entering a{ display:block; width:120px; background:#007bc4; color:#fff; height:35px; line-height:35px; font-size:15px; text-align:center; margin-left:100px;}

.jyjieg ul li{ margin-top:20px; line-height:26px; color:#333;}
.jyjieg ul li p{ font-size:15px; color:#000;}
.jyjieg ul li span{ display:block; margin-top:5px;}

/*预约挂号首页*/
.inkstitle.noline{ border-bottom:none; padding-bottom:0;}
.buzhoutu,.inkstitle.di{ margin-top:20px;}
.rules{ margin-top:10px; line-height:25px; color:#333;}
.rules .red{ color:#f00;}
.ksname.qi ul li{ position:relative;}
.ksname.qi ul li a span{ display:none; position:absolute; bottom:1px; right:1px;}
.ksname.qi ul li a.xuanzhongle{ border:#007bc4 1px solid; color:#007bc4;}
.pingtai ul li{ width:170px; float:left; margin:20px;}

/*选择时间*/
.timein{ width:1048px; margin:auto; border:#ccc 1px solid; height:auto; 

overflow:hidden; margin-top:20px;}
.uppon{ height:32px; padding:15px 25px; border-bottom:#ccc 1px solid;}
.uppon ul li{ float:left; height:32px; line-height:32px; margin-right:110px;}
.uppon ul li:last-child{ margin-right:0;}
.uppon ul li span{ float:left; height:30px; line-height:30px;}
.uppon ul li span.ddate{ width:160px;}
.uppon ul li span.ddate input{ width:140px; height:20px; padding:5px 10px;}
.uppon ul li span.bix{ margin-left:20px;}
.uppon ul li span.bix input{ margin-top:2px;}
.uppon ul li a{ display:block; background:#007bc4; width:100px; height:30px; text-

align:center; line-height:30px; color:#fff; font-size:15px;}

.downno{ padding:15px 25px; height:auto; overflow:hidden;}
.zhouqi{ float:left; background:url(../images/gjx.jpg) top center no-repeat; 

color:#bb364e; padding-top:40px; height:auto; overflow:hidden;}
.zqwz{ float:left; margin-left:40px; margin-top:8px; color:#666; line-height:22px;}

.shijianbo{ background:#f4f4f4; height:auto; overflow:hidden;}
.turnleft,.turnright,.yigeyue{ float:left; width:991px; height:46px; overflow:hidden;}
.turnleft,.turnright{ width:28px; height:45px; border-bottom:#ccc 1px solid; text-

align:center; line-height:45px;}
.turnleft a,.turnright a{ font-size:20px;}
.turnright{ border-left:#ccc 1px solid;}
.yigeyue li{ float:left; text-align:center; width:65px; border-left:#ccc 1px solid;}
.yigeyue li:last-child{ border-right:#ccc 1px solid;}
.yigeyue li a{ display:block; background:#f4f4f4; width:65px; height:35px; padding:5px 

0; border-bottom:#ccc 1px solid;}
.yigeyue li a:hover,.yigeyue li a.cur{ background:#fff; height:36px; border-

bottom:none;}
.yigeyue li a span{ display:block;}
.yigeyue li a span.xsmall{ font-size:12px; margin-top:2px;}

.haoyuanlist{ width:992px; margin:auto; margin-top:10px; height:auto; 

overflow:hidden; padding-bottom:20px;}
.hyyuyue{ border-bottom:#ccc 1px dashed; padding:15px 0; height:auto; 

overflow:hidden;}
.hyyuyue ul li{ width:25%; float:left;}
.hyyuyue.five ul li{ width:20%;}
.hyyuyue ul li span{ display:block; width:80px; margin:auto; margin-top:5px;}
.hyyuyue ul li span.dacolor{ color:#007bc4;}
.hyyuyue ul li a{ display:block; background:#ffb135; width:70px; margin:auto; 

height:26px; text-align:center; line-height:26px; color:#fff; margin-top:12px;}
.hyyuyue ul li a:hover{ background:#007bc4;}

/*选择号源*/
.shiduan{ margin-top:15px; color:#333;}
.hyyuyue.enter{ border-top:#ccc 1px solid; border-bottom:#ccc 1px solid; margin-

top:20px;}
.shijianduan{ width:510px; float:left; height:auto; overflow:hidden; margin-top:12px; 

border-right:#ccc 1px solid;}
.shijianduan.no{ border-right:none; float:right;}
.shijianduan ul li{ width:33.3%; float:left; height:auto; overflow:hidden; margin-

top:6px;}
.sjd_xh{ height:auto; overflow:hidden; border-bottom:#ccc 1px solid; padding-

bottom:20px;}

.sssup span{ float:left; margin-top:15px; line-height:24px;}
.sssup span b{ font-weight:normal; color:#bb364e;}
.youkabt{ margin-top:15px; font-size:15px; font-weight:600;}
.xxxdown ul li{ float:left; height:32px; line-height:32px; margin-top:10px;}
.xxxdown ul li:first-child{ margin-right:100px;}
.xxxdown ul li span{ float:left;}
.xxxdown ul li span input{ width:220px; border:#ccc 1px solid; height:20px; 

padding:5px;}
.xxxdown ul li a{ display:block; background:#007bc4; width:100px; height:32px; line-

height:32px; text-align:center; color:#fff; margin-left:10px;}

.sssup.wuka{ background:url(../images/shouji.jpg) left 20px no-repeat; padding-

left:40px; margin-top:40px; height:auto; overflow:hidden;}
.sssup.wuka span.small{ font-size:13px; color:#666; margin-top:0;}

/*预约成功*/
.success{ width:480px; margin:auto; padding-bottom:30px;}
.chgtu{ text-align:center; border-bottom:#ccc 1px solid; padding-bottom:20px;}
.haoyuan_detail{ width:380px; margin:auto; margin-top:30px; line-height:24px;}
.haoyuan_detail b{ font-weight:normal; color:#bb364e;}

/*查询号源*/
.cx_jglist{ text-align:center; margin-top:20px; padding-bottom:30px;}
.cx_jglist table th{ border:#ccc 1px solid; border-right:none; padding:8px 0;}
.cx_jglist table td{ border-bottom:#ccc 1px solid; border-left:#ccc 1px solid; 

padding:8px 0; font-size:13px;}
.cx_jglist table td:last-child,.cx_jglist table th:last-child{ border-right:#ccc 1px solid;}
.cx_jglist table td span{ margin:0 20px; font-size:13px;}
.cx_jglist table td span.zt{ color:#007bc4;}
.cx_jglist table td a{ color:#f00; font-size:13px;}

.inkstitle.did{ margin-top:40px;}

/*确认退号*/
.Pop-up{ background:#000; filter:alpha(opacity=70); -moz-opacity:0.6; -khtml-

opacity:0.6; opacity:0.6; position:absolute; top:0; left:0; right:0; bottom:0; z-

index:8888;}
.popkuang{ background:#fff; width:460px; height:360px; position:absolute; top:50%; 

left:50%; margin-left:-230px; margin-top:-180px; z-index:9999;}
.poptitle{ height:50px; line-height:50px; font-size:17px; padding-left:20px; border-

bottom:#ccc 1px solid;}
.popkuang .haoyuan_detail{ width:220px;}
.pop_icon a{ display:block; background:#007bc4; width:120px; margin:auto; 

height:35px; line-height:35px; text-align:center; color:#fff; margin-top:25px;}

/*选择科室（修改）*/
.ks_select{ margin-top:20px;}
.ks_select ul.yipai li{ background:url(../images/kshulbg.jpg) repeat-y; width:100%; 

height:auto; overflow:hidden; margin-top:2px; padding:10px 0;}
.daba{ width:120px; float:left; height:auto; text-align:center;}
.daba a{ font-size:15px; color:#000;}
.xiaoba{ width:870px; float:left; padding:0 30px; line-height:26px;}
.xiaoba a{ float:left; width:200px; color:#555;}
.ks_select a:hover{ text-decoration:underline;}

/*专题版面1*/
.ztlogo{ width:1000px; margin:auto; height:64px; margin-top:140px;}
.ztnav{ width:1100px; margin:auto; margin-top:80px;}
.ztnav ul li{ float:left; height:26px; line-height:26px; width:105px; text-align:center;}
.ztnav ul li.redian{ width:70px;}
.ztnav ul li.redian a{ display:block; width:70px; height:26px;}
.ztnav ul li a{ color:#1e1e1e; font-weight:bold;}
.ztnav ul li a:hover,.ztnav ul li a.cur{ color:#f00;}

.ztpart{ width:1100px; margin:auto; margin-top:60px; height:320px; overflow:hidden;}
.zt_scroll{ width:650px; float:left;}
.ztdongtai{ width:430px; float:right; position:relative;}
.ztbiaoti{ background:url(../images/ztxiao.png) no-repeat; width:410px; height:47px; 

color:#fff; position:absolute; top:0; left:0; padding:0 10px; line-height:47px;}
.ztbiaoti span{ float:left; width:80%; font-size:15px; font-weight:bold;}
.ztbiaoti span a{ color:#fff; margin:0 10px; font-size:15px;}
.ztbiaoti a.ztmore{ float:right; color:#fff; font-size:13px;}
.notice.ztde{ background:#fff; width:405px; height:320px; margin:auto; 

overflow:hidden;}
.notice.ztde ul{ width:385px; margin:auto; padding:50px 10px 0;}

.ztpart.xia{ margin-top:20px; height:285px;}
.ztdongtai.zt{ width:540px;}
.ztdongtai.zt .ztbiaoti{ background:url(../images/ztda.png) no-repeat; width:520px;}
.notice.xmde{ background:#fff; width:525px; height:320px; margin:auto; 

overflow:hidden;}
.notice.xmde ul{ width:505px; margin:auto; padding:50px 10px 0;}

/*专题版面2*/
.zttopbg{ background:#fff; height:30px; line-height:30px; box-shadow:0 2px 5px 

#555;}
.zhuantitop{ width:1100px; margin:auto;}
.zhuantitop span{ float:left;}
.zhuantitop span.ttyou{ float:right; background:url(../images/namezuobg.jpg) left 

center no-repeat; padding-left:33px;}

.kuanyiyipx{ width:1100px; margin:auto; margin-top:25px;}
.ztbannner{ height:230px; border-top:#007bc4 2px solid;}
.ztnavigation{ background:#007bc4; width:1100px; height:44px; line-height:44px; 

color:#fff;}
.ztnavigation a{ font-size:15px; font-weight:bold; color:#fff; margin:0 37px;}
.ztnavigation a:hover,.ztnavigation a.cur{ text-shadow:0 1px 2px #000;}

.ztnavigation1{ background:#007bc4; width:1100px; height:44px; line-height:44px; 

color:#fff;}
.ztnavigation1 a{ font-size:15px; font-weight:bold; color:#fff; margin:0 33px;}
.ztnavigation1 a:hover,.ztnavigation1 a.cur{ text-shadow:0 1px 2px #000;}



.zhuanlist{ background:#fff; width:1060px; margin:auto; height:auto; 

overflow:hidden; padding:20px 20px 5px; margin-top:20px;}
.rightlie.zt{ width:340px; float:left;}
.zhuanbtbg{ background:url(../images/zhuanti02_16.jpg) right bottom no-repeat; font-size:16px; font-weight:bold; color:#007bc4; height:auto; margin-bottom:0px;}
.zhuanbtbg a{ font-size:12px; font-weight:normal;}

.zhuanlist{ background:#fff; width:1060px; margin:auto; height:auto; 

overflow:hidden; padding:20px 20px 5px; margin-top:20px;}
.rightlie.zt1{ width:364px; float:left;}
.zhuanbtbg{ background:url(../images/zhuanti02_16.jpg) right bottom no-repeat; font-size:16px; font-weight:bold; color:#007bc4; height:auto; margin-bottom:0px;}
.zhuanbtbg a{ font-size:12px; font-weight:normal;}


.zhuanbtbg1{ background:url(../images/zhuanti02_18.jpg) right bottom no-repeat; font-size:16px; font-weight:bold; color:#007bc4; height:auto; margin-bottom:0px;}
.zhuanbtbg1 a{ font-size:14px; font-weight:normal;}


.gexing.zt ul li{ width:336px;}
.gexing ul li .tiao{ width:250px;}
.yx-rotaion.zt{ margin:0 20px;}

.notice.zh02,.notice.zh02 ul li{ width:340px;}
.notice.zh02 ul li a{ width:70%;}

.ztfocus{ width:600px; float:left; height:auto; overflow:hidden;  margin-top:20px; padding-top:10px;}
.shiwubt{ font-size:16px; text-align:center; font-weight:bold; color:#007bc4;}
.scroll_horizontal{position:relative;width:600px;padding:1px 0px 0;}
.scroll_horizontal .box
{overflow:hidden;position:relative;width:580px;height:150px;margin:0 auto;}
.scroll_horizontal .list{overflow:hidden;width:9999px;}
.scroll_horizontal .list li{float:left;width:100px; text-align:center;}
.scroll_horizontal .list li span{ display:block;}
.scroll_horizontal .prev,
.scroll_horizontal .next{position:absolute;top:50%;margin-top:-

28px;width:27px;height:56px;background:url(../images/control.png) no-

repeat;font:0/0 Arial;cursor:pointer;}
.scroll_horizontal .prev{left:0px;background-position:0 0;}
.scroll_horizontal .next{right:0px;background-position:-27px 0;}


/*专题版面3*/
.zttopbg{ background:#fff; height:30px; line-height:30px; box-shadow:0 2px 5px 

#555;}
.zhuantitop{ width:1100px; margin:auto;}
.zhuantitop span{ float:left;}
.zhuantitop span.ttyou{ float:right; background:url(../images/namezuobg.jpg) left 

center no-repeat; padding-left:33px;}

.kuanyiyipx{ width:1100px; margin:auto; margin-top:25px;}
.ztbannner{ height:230px; border-top:#007bc4 2px solid;}
.ztnavigation{ background:#007bc4; width:1100px; height:44px; line-height:44px; 

color:#fff;}
.ztnavigation a{ font-size:15px; font-weight:bold; color:#fff; margin:0 37px;}
.ztnavigation a:hover,.ztnavigation a.cur{ text-shadow:0 1px 2px #000;}

.ztnavigation1{ background:#007bc4; width:1100px; height:44px; line-height:44px; 

color:#fff;}
.ztnavigation1 a{ font-size:15px; font-weight:bold; color:#fff; margin:0 33px;}
.ztnavigation1 a:hover,.ztnavigation1 a.cur{ text-shadow:0 1px 2px #000;}



.zhuanlist{ background:#fff; width:1060px; margin:auto; height:auto; 

overflow:hidden; padding:20px 20px 5px; margin-top:20px;}
.rightlie.zt{ width:340px; float:left;}
.zhuanbtbg{ background:url(../images/zhuanti02_16.jpg) right bottom no-repeat; font-size:16px; font-weight:bold; color:#007bc4; height:auto;  margin-bottom:15px;}
.zhuanbtbg a{ font-size:12px; font-weight:normal;}
.gexing.zt ul li{ width:336px;}
.gexing ul li .tiao{ width:250px;}
.yx-rotaion.zt{ margin:0 20px;}

.notice.zh02,.notice.zh02 ul li{ width:340px;}
.notice.zh02 ul li a{ width:70%;}

.ztfocus{ width:1058px; margin:auto; height:auto; overflow:hidden; border:#007bc4 

1px solid; margin-top:20px; padding-top:10px;}
.shiwubt{ font-size:16px; text-align:center; font-weight:bold; color:#007bc4;}
.scroll_horizontal1{position:relative;width:1038px;height:150px;padding:15px 10px 0;}
.scroll_horizontal1.box

{overflow:hidden;position:relative;width:978px;height:150px;margin:0 auto;}
.scroll_horizontal1 .list{overflow:hidden;width:9999px;}
.scroll_horizontal1 .list li{float:left;width:200px; text-align:center;}
.scroll_horizontal1 .list li span{ display:block;}
.scroll_horizontal1 .prev,
.scroll_horizontal1 .next{position:absolute;top:50%;margin-top:-

28px;width:27px;height:56px;background:url(../images/control.png) no-

repeat;font:0/0 Arial;cursor:pointer;}
.scroll_horizontal1 .prev{left:0px;background-position:0 0;}
.scroll_horizontal1 .next{right:0px;background-position:-27px 0;}

